.technology {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/technology/background-technology-desktop.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.tech-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0 10px 140px;
  /* padding-top: 10%; */
  height: calc(100vh - 0px);
}

.subheading {
  font-family: var(--font-subheading);
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 20px;
}

.subheading span {
  font-weight: bold;
  margin-right: 18px;
  color: rgba(255, 255, 255, 0.25);
}

.tech-body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* border: 1px solid; */
}

.tech-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tech-content {
  display: flex;
  gap: 80px;
}

.tech-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 60px;
}

.techTab {
  width: 80px;
  height: 80px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  font-family: var(--font-heading);
  font-size: 32px;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.techTab:hover {
  border-color: var(--color-white);
}

.techTab.active {
  background: var(--color-white);
  color: var(--color-dark);
}

.tech-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 35px;
}

.tech-term {
  font-family: var(--font-subheading);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: var(--color-accent);
}

.tech-name {
  font-family: var(--font-heading);
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-white);
}

.tech-description {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 32px;
  color: var(--color-accent);
  max-width: 444px;
}

.tech-image {
  width: 40%;
  display: flex;
  align-items: center;
  height: 390px;
  /* border: 1px solid; */
}

.tech-image-img {
  width: 100%;
  max-width: 515px;
  height: 450px;
}

/* Tablet (769px - 991px) */
@media (min-width: 769px) and (max-width: 991px) {
  .technology {
        background-image: url('../assets/technology/background-technology-tablet.jpg');
        height: 112vh;
    }

    .tech-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 0 40px;
        gap: 0;
        text-align: center;
    }

    #techHead {
        text-align: left;
        /* border: 2px solid; */
        /* order: 2; */
        width: 100%;
        padding: 0 40px;
    }

    .tech-body{
        flex-direction: column;
    }

    .tech-details {
        width: 100%;
        /* max-width: 573px; */
        order: 2;
    }

    .tech-content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        /* border: 2px solid; */
        padding: 0;
        /* width: 600px; */
    }

    .tech-nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    .tab {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .tech-term {
        font-size: 24px;
        font-weight: 400;
    }

    .tech-name {
        font-size: 40px;
    }

    .tech-description {
        font-size: 14px;
        line-height: 28px;
        /* border: 2px solid; */
        width: 700%;
        padding: 0;
        display: block;
    }

    .tech-image {
        width: 820px;
        order: 1;
        /* border: 2px solid; */
        /* height: auto; */
    }

    .tech-image-img {
        max-width: 819px;
        height: 380px;
    }
}

/* Mobile (≤768px) */
@media (min-width: 320px) and (max-width: 768px) {
  .technology {
    background-image: url('../assets/technology/background-technology-mobile.jpg');
    height: 155vh;
    /* border: 1px solid; */
    width: 95vw;
  }

  .tech-main {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 80px 24px 32px;
    text-align: center;
    height: 135vh;
  }

  .subheading {
    font-size: 20px;
    letter-spacing: 3.38px;
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
  }

  .subheading span {
    margin-right: 8px;
  }

  .tech-body {
    flex-direction: column-reverse;
    align-items: center;
    width: 93vw;
    /* border: 1px solid; */
    /* margin-top: -40px; */
    gap: 0;
  }

  .tech-details {
    width: 100%;
    max-width: 327px;
    /* border: 1px solid; */
    margin-top: -50px;
  }

  .tech-content {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .tech-nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: -40px;
  }

  .techTab {
    width: 40px;
    height: 40px;
    font-size: 16px;
    padding-top: 5px;
  }

  .tech-term {
    font-size: 14px;
    letter-spacing: 2.36px;
  }

  .tech-name {
    font-size: 24px;
  }

  .tech-description {
    font-size: 15px;
    line-height: 25px;
  }

  .tech-image {
    width: 100%;
  }

  .tech-image-img {
    max-width: 100%;
    height: auto;
  }
}